<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NFT | Ranking</title>
    <link rel="stylesheet" href="./rankings.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <img src="./rankingsImg/logo.png" alt="" />
          <ul>
            <li><a href="#">Marketplace</a></li>
            <li><a href="./rankings.html">Rankings</a></li>
            <li><a href="#">Connect a wallet</a></li>
            <li>
              <a href="#"
                ><button>
                  <img src="./rankingsImg/User.png" alt="" /> Sign Up
                </button></a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="content">
        <div class="container">
          <h1>Top Creators</h1>
          <p>Check out top ranking NFT artists on the NFT Marketplace.</p>
        </div>
      </div>
    </header>
    
    <main>
      <nav>
        <div class="container">
          <ul>
            <li id="today" class="today">Today</li>
            <li id="thisWeek" class="thisWeek">This Week</li>
            <li id="thisMonth" class="thisMonth">This Month</li>
            <li id="allTime" class="allTime">All Time</li>
          </ul>
        </div>
      </nav>
      <div class="artists">
        <div class="container" id="artistsBox">
          <div class="aHead">
            <ul>
              <li>#</li>
              <li>Artist</li>
            </ul>
            <ul>
              <li>Change</li>
              <li>NFTs Sold</li>
              <li>Volume</li>
            </ul>
          </div>
          <div class="aBody" id="aBody"></div>
          <div class="aBody4" id="aBody4"></div>
        </div>
      </div>
    </main>
    
    <footer>
      <div class="container">
        <div class="tables">
          <div class="table_1">
            <img src="./rankingsImg/logo.png" alt="" />
            <h2>NFT marketplace UI created with Anima for Figma.</h2>
            <h3>Join our community</h3>
            <div class="socialIcons">
              <img src="./rankingsImg/DiscordLogo.png" alt="" />
              <img src="./rankingsImg/YoutubeLogo.png" alt="" />
              <img src="./rankingsImg/TwitterLogo.png" alt="" />
              <img src="./rankingsImg/InstagramLogo.png" alt="" />
            </div>
          </div>
          <div class="table_2">
            <h1>Explore</h1>
            <h3>Marketplace</h3>
            <h3>Rankings</h3>
            <h3>Connect a wallet</h3>
          </div>
          <div class="table_3">
            <h1>Join our weekly digest</h1>
            <h3>Get exclusive promotions & updates straight to your inbox.</h3>
            <div class="inpBtnBox">
              <input
                type="email"
                placeholder="Enter your email here"
                id="inp"
              />
              <button id="submitBtn">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <div class="bedrock">
        <div class="hrDiv"></div>
        <h4>Ⓒ NFT Market. Use this template freely.</h4>
      </div>
    </footer>
    <script src="./rankings.js"></script>
  </body>
</html>
