@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
}

header {
  width: 100%;
}

header nav {
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  height: 10vh;
}

header nav .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .container ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

header nav .container ul li a {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
}

header nav .container ul button {
  padding: 17px 35px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: #a259ff;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
}

header .content {
  height: 40vh;
  display: flex;
  align-items: center;
  background-color: #2b2b2b;
}

header .content .container {
  width: 80%;
  margin: 0 auto;
}

header .content .container h1 {
  font-size: 3.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

header .content .container p {
  font-size: 1.7rem;
  font-weight: 300;
  color: #ffffff;
}

main {
  width: 100%;
  height: 320vh;
  background-color: #2b2b2b;
}

main nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

main nav .container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

main nav .container ul {
  display: flex;
  gap: 15rem;
}

main nav .container ul .latest,
.topSold,
.topVolume,
.topChanges {
  font-size: 2.5rem;
  font-weight: 500;
  color: #858584;
}

main nav .container ul .latestActive,
.topSoldActive,
.topVolumeActive,
.topChangesActive {
  color: #ffffff;
  border-bottom: 5px solid #ffffff;
}

main .artists {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
}

main .artists .container {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #3b3b3b;
}

main .artists .container .aHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 90px;
}

main .artists .container .aHead ul:nth-child(1) {
  gap: 1rem;
  display: flex;
}

main .artists .container .aHead ul li {
  font-family: "Space Mono", monospace;
  font-size: 1.3rem;
  color: #858584;
}

main .artists .container .aHead ul:nth-child(2) {
  font-family: "Space Mono", monospace;
  gap: 10rem;
  display: flex;
}

main .artists .container .aBody {
  width: 80%;
  position: absolute;
  top: 80vh;
}

main .artists .container .aBody1 {
  width: 80%;
  position: absolute;
  top: 80vh;
}

main .artists .container .aBody3 {
  width: 80%;
  position: absolute;
  top: 80vh;
}

main .artists .container .aBody2 {
  display: none;
  width: 80%;
  position: absolute;
  top: 80vh;
}

main .artists .container .aBody4 {
  display: none;
  width: 80%;
  position: absolute;
  top: 80vh;
}

#artistSame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3b3b;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 2rem;
}

#artistSame ul:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#artistSame #artistId {
  font-family: "Space Mono", monospace;
  padding: 10px 18px;
  border-radius: 50%;
  color: #858584;
  background-color: #2b2b2b;
}

#artistSame ul:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 11.5rem;
  position: absolute;
  right: 8rem;
}

#artistSame #artistName {
  color: #ffffff;
  font-weight: 600;
}

#artistSame #artistChange {
  font-weight: 400;
  font-family: "Space Mono", monospace;
  color: #00ac4f;
}

#artistSame #artistSold {
  font-weight: 400;
  font-family: "Space Mono", monospace;
  color: #ffffff;
}

#artistSame #artistVolume {
  font-weight: 400;
  font-family: "Space Mono", monospace;
  color: #ffffff;
}

footer {
  width: 100%;
  height: 50vh;
  background-color: #3b3b3b;
}

footer .container {
  width: 80%;
  height: 40vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

footer .bedrock {
  width: 80%;
  margin: 0 auto;
}

footer .bedrock .hrDiv {
  width: 100%;
  height: 2px;
  background-color: #858584;
  margin-bottom: 2rem;
}

footer .bedrock h4 {
  color: #cccccc;
  font-weight: 400;
}

footer .container .tables {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

footer .container .tables .table_1 img {
  margin-bottom: 2rem;
}

footer .container .tables .table_1 h2 {
  font-size: 1.3rem;
  font-weight: 400;
  width: 20rem;
  line-height: 2rem;
  color: #cccccc;
  margin-bottom: 2rem;
}

footer .container .tables .table_1 h3 {
  color: #cccccc;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

footer .container .tables .table_2 {
  position: relative;
  bottom: 0.8rem;
}

footer .container .tables .table_2 h1 {
  color: #ffffff;
  font-family: "Space Mono", monospace;
  margin-bottom: 2rem;
}

footer .container .tables .table_2 h3 {
  color: #cccccc;
  font-weight: 400;
  margin-bottom: 2rem;
}

footer .container .tables .table_3 h1 {
  font-family: "Space Mono", monospace;
  color: #ffffff;
  margin-bottom: 2rem;
}

footer .container .tables .table_3 {
  position: relative;
  bottom: 1rem;
}

footer .container .tables .table_3 h3 {
  color: #cccccc;
  font-weight: 400;
  width: 25rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

#inp {
  padding: 20px 50px;
  border-radius: 20px 0px 0px 20px;
  border: none;
  font-size: 1rem;
}

#inp:focus {
  outline: none;
}

#submitBtn {
  padding: 20px 40px;
  border-radius: 20px;
  border: none;
  background-color: #a259ff;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  right: 2.5rem;
}
