<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/events/NavFooter.css" />
    <link rel="stylesheet" href="./home.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar">
          <img src="/events/img/logo.png" alt="" />

          <div>
            <ul>
              <li><a href="./home.html"> Marketplace</a></li>
              <li><a href="../Rankings/rankings.html"> Rankings</a></li>
              <li><a href=""> Connect a wallet</a></li>
            </ul>
            <button>
              <a href="sing.html"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: rgb(255, 255, 255);"
                >
                  <path
                    d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"
                  ></path>
                </svg>
                <h4>Sign Up</h4></a
              >
            </button>
          </div>

          <svg
            class="secret"
            id="secret"
            onclick="myfunction()"
            xmlns="http://www.w3.org/2000/svg"
            width="50"
            height="50"
            viewBox="0 0 24 24"
            style="fill: rgb(255, 255, 255); "
          >
            <path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"></path>
          </svg>
        </div>
      </nav>
      <div class="menu">
        <div id="uldiv" class="uldiv">
          <ul>
            <li><a href=""> Marketplace</a></li>
            <li><a href=""> Rankings</a></li>
            <li><a href=""> Connect a wallet</a></li>
          </ul>
          <button>
            <a href="sing.html"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="fill: rgb(255, 255, 255); "
              >
                <path
                  d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"
                ></path>
              </svg>
              <h4>Sign Up</h4></a
            >
          </button>
        </div>
      </div>
      <div class="main_header">
        <div>
          <h1>Discover Digital Art & Collect NFTs</h1>
          <h3>
            NFT marketplace UI created with Anima for Figma. Collect, buy and
            sell art from more than 20k NFT artists.
          </h3>
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: rgb(255, 255, 255);  "
            >
              <path
                d="M20.92 2.38A15.72 15.72 0 0 0 17.5 2a8.26 8.26 0 0 0-6 2.06Q9.89 5.67 8.31 7.27c-1.21-.13-4.08-.2-6 1.74a1 1 0 0 0 0 1.41l11.3 11.32a1 1 0 0 0 1.41 0c1.95-2 1.89-4.82 1.77-6l3.21-3.2c3.19-3.19 1.74-9.18 1.68-9.43a1 1 0 0 0-.76-.73zm-2.36 8.75L15 14.67a1 1 0 0 0-.27.9 6.81 6.81 0 0 1-.54 3.94L4.52 9.82a6.67 6.67 0 0 1 4-.5A1 1 0 0 0 9.39 9s1.4-1.45 3.51-3.56A6.61 6.61 0 0 1 17.5 4a14.51 14.51 0 0 1 2.33.2c.24 1.43.62 5.04-1.27 6.93z"
              ></path>
              <circle cx="15.73" cy="8.3" r="2"></circle>
              <path d="M5 16c-2 1-2 5-2 5a7.81 7.81 0 0 0 5-2z"></path>
            </svg>
            Get Started
          </button>
          <div class="ratings">
            <h4>240k+<br /><b>TotalSale</b></h4>
            <h4>140k+<br /><b>Auctions</b></h4>
            <h4>940k+<br /><b>Artists</b></h4>
          </div>
        </div>
        <div class="cart">
          <img src="./img/cart_back.png" alt="" />
          <h2>Space Walking</h2>
          <div>
            <img src="./img/profile1.png" alt="" />
            <h5>Animakid</h5>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="trending">
          <h1>Trending Collection</h1>
          <h2>Checkout our weekly updated trending collection</h2>
          <div class="category" id="category"></div>
        </div>

        <div class="creators">
          <h1>Top creators</h1>
          <h2>Checkout Top Rated Creators on the NFT Marketplace</h2>
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: rgb(89, 36, 118);  "
            >
              <path
                d="M20.92 2.38A15.72 15.72 0 0 0 17.5 2a8.26 8.26 0 0 0-6 2.06Q9.89 5.67 8.31 7.27c-1.21-.13-4.08-.2-6 1.74a1 1 0 0 0 0 1.41l11.3 11.32a1 1 0 0 0 1.41 0c1.95-2 1.89-4.82 1.77-6l3.21-3.2c3.19-3.19 1.74-9.18 1.68-9.43a1 1 0 0 0-.76-.73zm-2.36 8.75L15 14.67a1 1 0 0 0-.27.9 6.81 6.81 0 0 1-.54 3.94L4.52 9.82a6.67 6.67 0 0 1 4-.5A1 1 0 0 0 9.39 9s1.4-1.45 3.51-3.56A6.61 6.61 0 0 1 17.5 4a14.51 14.51 0 0 1 2.33.2c.24 1.43.62 5.04-1.27 6.93z"
              ></path>
              <circle cx="15.73" cy="8.3" r="2"></circle>
              <path d="M5 16c-2 1-2 5-2 5a7.81 7.81 0 0 0 5-2z"></path>
            </svg>
            View Rankings
          </button>
          <div class="creatorsdiv" id="creatorsdiv"></div>
        </div>
        <div class="browse_section">
          <h1>Browse Categories</h1>
          <div class="browes" id="browes"></div>
        </div>
        <div class="discover">
          <h1>Discover More NFTs</h1>
          <h2>Explore new trending NFTs</h2>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
              </svg>
            See All
          </button>
        </div>
      </div>
    </main>
    <script src="./home.js"></script>
    <script src="/events/NavFooter.js"></script>
  </body>
</html>
